In [127]:
import pandas as pd
import numpy as np
import scipy.stats as sp

In [128]:
dt = pd.read_csv("gtd/globalterrorismd.csv", encoding ='latin1')
dt.head()

C:\Users\Luigi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (4,6,31,33,53,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

TypeError: 'Index' object is not callable

In [120]:
dt = dt.loc[:, ['iyear','imonth','iday','country',
'country_txt',
'region',
'provstate',
'city',
'latitude',
'longitude',
'success',
'attacktype1',
'attacktype1_txt','targtype1',
'targtype1_txt','targsubtype1',
'targsubtype1_txt',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'individual',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weapdetail',
 'nkill',
 'nwound',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'kidhijcountry']]
dt = dt[(dt.nwound > 0) | (dt.nkill > 0)]

In [124]:
dt.head()

,iyear,imonth,iday,country,country_txt,region,provstate,city,latitude,longitude,...,nkill,nwound,property,propextent,propextent_txt,propvalue,ishostkid,nhostkid,nhostkidus,kidhijcountry
0,1970,7,2,58,Dominican Republic,2,NaN,Santo Domingo,18.456792,-69.951164,...,1.0,0.0,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
2,1970,1,0,160,Philippines,5,Tarlac,Unknown,15.478598,120.599741,...,1.0,0.0,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
16,1970,1,11,65,Ethiopia,11,Unknown,Unknown,NaN,NaN,...,1.0,0.0,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
20,1970,1,14,217,United States,1,Illinois,Champaign,40.116748,-88.239270,...,0.0,1.0,1,3.0,Minor (likely < $1 million),NaN,0.0,NaN,NaN,NaN
25,1970,1,20,83,Guatemala,2,NaN,Guatemala City,14.624422,-90.532880,...,1.0,0.0,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [125]:
country_list = []
for i in dt.country_txt:
    country_list.append(i)
country_series = pd.Series(country_list)

country_series.value_counts()

Iraq                              18522
Afghanistan                        9110
Pakistan                           8334
India                              6661
Colombia                           4149
Philippines                        3787
United Kingdom                     2978
Peru                               2630
Thailand                           2529
Turkey                             2416
Nigeria                            2373
Algeria                            2328
Sri Lanka                          2303
Somalia                            2300
El Salvador                        1970
Yemen                              1826
Egypt                              1415
West Bank and Gaza Strip           1380
Russia                             1371
Lebanon                            1355
Syria                              1352
Spain                              1192
Guatemala                          1168
South Africa                       1154
Libya                              1035
Israel                              984
Bangladesh                          896
Nicaragua                           894
Ukraine                             626
Sudan                               562
                                  ...
Lithuania                             3
Comoros                               3
Fiji                                  3
Solomon Islands                       3
Benin                                 3
Western Sahara                        3
Belize                                2
Luxembourg                            2
Barbados                              2
Turkmenistan                          2
Singapore                             2
Equatorial Guinea                     2
New Zealand                           2
Gambia                                2
Slovenia                              2
Dominica                              1
St. Kitts and Nevis                   1
South Yemen                           1
Martinique                            1
South Vietnam                         1
Bahamas                               1
Montenegro                            1
Mauritius                             1
People's Republic of the Congo        1
North Korea                           1
International                         1
St. Lucia                             1
French Polynesia                      1
Vatican City                          1
Brunei                                1
dtype: int64

In [126]:

dt_location = dt.loc[: ,['country_txt','latitude','longitude','nkill','nwound']]
dt_location

               country_txt   latitude   longitude  nkill  nwound
0       Dominican Republic  18.456792  -69.951164    1.0     0.0
2              Philippines  15.478598  120.599741    1.0     0.0
16                Ethiopia        NaN         NaN    1.0     0.0
20           United States  40.116748  -88.239270    0.0     1.0
25               Guatemala  14.624422  -90.532880    1.0     0.0
30           United States  40.783060  -73.971249    0.0     2.0
39             Philippines  15.675051  120.331618    0.0     1.0
59      West Germany (FRG)  48.139126   11.580186    1.0     NaN
61           United States  37.869885 -122.270539    0.0     7.0
62      West Germany (FRG)  48.139126   11.580186    7.0     9.0
63           United States  37.869885 -122.270539    0.0     7.0
65           United States  44.044830 -123.072606    0.0     1.0
66           United States  37.777125 -122.419644    1.0     0.0
80             Switzerland  47.368650    8.539182   47.0     0.0
111          United States  18.466170  -66.106654    2.0     0.0
119          United States  39.538940  -76.348479    2.0     0.0
133                  Egypt  31.198056   29.919167    0.0     2.0
138          United States  34.105245 -117.294124    0.0     1.0
142          United States  42.331685  -83.047924    1.0     0.0
145          United States  40.783060  -73.971249    0.0     1.0
148          United States  40.783060  -73.971249    0.0    17.0
150            Philippines  15.153002  120.591942    1.0     0.0
161              Guatemala  14.624422  -90.532880    1.0     0.0
169            Philippines  15.185916  120.541870    2.0     0.0
171                Ireland  53.344104   -6.267494    1.0     NaN
175                 Brazil -30.034108  -51.217839    0.0     1.0
187          United States  28.949564  -95.344371    0.0     5.0
203          United States  37.805065 -122.273024    0.0     2.0
208          United States  40.728224  -73.794852    0.0     3.0
209          United States  38.954344  -95.255796    0.0     3.0
...                    ...        ...         ...    ...     ...
170313               India  34.409556   74.313288    1.0     0.0
170314            Pakistan  29.182136   68.211034    0.0     4.0
170315         Afghanistan  35.957710   64.745883    1.0     NaN
170316         Afghanistan  35.856925   64.506511    NaN     1.0
170317         Afghanistan  35.842058   64.539948    NaN     1.0
170318               Egypt  31.132297   33.802680    2.0     1.0
170319         Philippines   7.059926  124.509575    0.0     1.0
170321          Bangladesh  25.564362   89.519090    1.0     0.0
170322            Pakistan  30.661181   73.108576    0.0     2.0
170323        Saudi Arabia  16.889359   42.570567    1.0     0.0
170324         Afghanistan  34.533342   69.078022    2.0     4.0
170325             Burundi  -3.253245   29.430266    0.0     8.0
170326            Pakistan  34.014975   71.580490    1.0     1.0
170328         Afghanistan  32.372459   62.120092    0.0     1.0
170329         Afghanistan  34.221242   69.078024    1.0     0.0
170330             Nigeria  11.831098   13.150967    2.0     1.0
170331                Iraq  34.345164   44.467121    3.0     2.0
170332                Iraq  33.381146   44.344940    2.0     0.0
170333                Iraq  33.332813   44.401060   15.0    22.0
170334                Iraq  33.332813   44.401060   15.0    21.0
170335                Iraq  33.305081   44.488947    4.0     0.0
170336                Iraq  33.370243   44.278691    1.0     7.0
170338            Pakistan  33.803879   72.025434    2.0     0.0
170339         Afghanistan  36.662402   65.748508    1.0     1.0
170340         Afghanistan  36.667981   65.751084    1.0     1.0
170341         Afghanistan  36.666222   65.754795    0.0     2.0
170342         Afghanistan  36.659695   65.752408    0.0     1.0
170343         Afghanistan  37.007020   66.026738    2.0     5.0
170344         Afghanistan  31.583664   64.368699    1.0     6.0
170345               Niger  13.883032   13.177504   15.0     7.0

[100694 rows x 5 columns]